<p></p>
<div class = "row">
  <div class = "col-sm-11">
    <div class = "form-group">
      <input class = "form-control" placeholder="input the product's title"
      [formControl] = "titleFilter">
    </div>
  </div>
</div>
<div class = "row" >
  <div class="card-deck col-md-4 col-sm-4 col-lg-4" *ngFor="let product of products | filter:'title':keyword">
    <div class="card float-right" >
      <div class="thumbnail">
        <img class="card-img-top" src="Http://placehold.it/800X300" alt="Card image cap">
        <div class="caption">
          <h4 class="float-right">${{product.price}}</h4>
          <h4>
            <a [routerLink] = "['/product', product.id]">{{product.title}}</a>
          </h4>
          <p>{{product.desc}}</p>
        </div>
        <div>
          <app-stars [rating] = "product.rating"></app-stars>
        </div>
      </div>
    </div>
  </div>
</div>